.Card {
  display: flex;
  overflow: hidden;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: var(--container-border);
}

.Card h2 {
  margin: 0px;
  display: flex;
  text-transform: capitalize;
  color: var(--font-primary-color);
  padding: var(--container-padding);
  font-size: var(--font-primary-size);
}

.Card img {
  transform: rotate(25deg) translate(18%, -2%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  object-fit: cover;
  display: block;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
}
