.Card {
  display: flex;
  justify-content: center;
}

.Card img {
  display: block;
  width: 30%;
  margin: 0px;
  padding: 0px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.Card h2 {
  margin: 0px;
  display: flex;
  color: var(--font-primary-color);
  font-size: var(--font-primary-size);
}
