@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --decoration: #1ed760;

  --scrollbar: #5a5a5a;
  --page-background: #000;

  --font-primary-color: #fff;
  --font-secondary-color: #a7a7a7;

  --font-primary-size: 1.5rem;
  --font-family: manrope, sans-serif;

  /* Browse Panel */
  --panel-background: #121212;
  --min-container-width: 372px;
  --grid-gap: 12px;
  --column-count: 5;
}

body {
  font-family: var(--font-family);
  color: var(--font-primary-color);
  background-color: var(--page-background);
}

/* grid 5 col wide */
#root {
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
  grid-gap: var(--grid-gap);
  grid-auto-rows: auto;
  grid-template-rows: 1fr;
}
