.Card {
  display: flex;
  overflow: hidden;
  position: relative;
  aspect-ratio: var(--card-ratio);
  border-radius: var(--container-border);

  &:hover {
    cursor: pointer;
  }
}

.Card h2 {
  margin: 0px;
  display: flex;
  font-weight: 800;
  letter-spacing: -2px;
  text-transform: capitalize;
  color: var(--font-primary-color);
  padding: var(--container-padding);
  font-size: var(--font-primary-size);
}

.Card img {
  transform: rotate(25deg) translate(18%, -2%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: var(--card-img-height);
  width: var(--card-img-width);
  position: absolute;
  object-fit: cover;
  display: block;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
}
