@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --decoration: #1ed760;

  --scrollbar: #5a5a5a;
  --icon-fill: #8d8d8d;
  --page-background: #000;
  --search-icon-fill: #bdbdbd;
  --search-background: #242424;

  --font-primary-color: #fff;
  --font-secondary-color: #a7a7a7;

  --font-family: manrope, sans-serif;
  --font-primary-size: 1.5rem;

  /* Browse Panel */
  --panel-background: #121212;
  --search-border-radius: 500px;
  --min-container-width: 372px;
  --container-padding: 16px;
  --card-img-height: 100px;
  --card-img-width: 100px;
  --container-border: 8px;
  --header-padding: 16px;
  --card-ratio: 1/1;
  --column-count: 6;
  --grid-gap: 12px;
}

body {
  font-family: var(--font-family);
  color: var(--font-primary-color);
  background-color: var(--page-background);
}

@media only screen and (max-width: 512px) {
  :root {
    --font-primary-size: 1rem;
    --column-count: 3;
    --card-ratio: 2/1;
    --card-img-height: 50px;
    --card-img-width: 50px;
  }
}
